{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <style>
        .footer {

            height: 100%;
            overflow-y: auto;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!------ Include the above in your HEAD tag ---------->

    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <title>Service plataform</title>

</head>
<body>
<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recentes</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar"  placeholder="Search" >
                            <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
                    </div>
                </div>
                <div class="inbox_chat page-footer" id="user_chat_name">

                </div>
            </div>
            <div class="mesgs " >
                <div class="msg_history footer" id="chat">
                    <div class="outgoing_msg">
                        <div class='sent_msg' id="sent">
                            <span class="time_date"> 11:01 AM    |    Today</span> </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <span class="time_date"> 11:01 AM    |    Today</span></div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" id="chat-message-input"/>
                        <button class="msg_send_btn" type="button"  id="chat-message-submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>




    </div></div>
</body>
</html>
<script>
    var roomName = "{{ room_name|escapejs }}";
    var username = "{{ username|escapejs }}";
    var room = "{{ room|escapejs }}";



    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/room/' + roomName + '/');

    chatSocket.onopen = function(e) {
        fetchRoom();
        fetchMessages(roomName);

    };

    chatSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);
        if (data['command'] === 'room') {
            $('#user_chat_name').html('');
            $('#chat').html('');
            for (let i=0; i<data['room'].length; i++)
                createRoom(data['room'][0][i])
            $(document).ready(function() {
                $('.room_click').click(function() {
                    $('#chat').html('')
                    fetchMessages($(this)[0].value)
                });
            });
        }

        if (data['command'] === 'messages') {
            for (let i=0; i<data['messages'].length; i++) {
                createMessage(data['messages'][i]);
            }
        } else if (data['command'] === 'new_message'){
            createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.log('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new_message',
            'from': username,
            'roomName': roomName
        }));

        messageInputDom.value = '';
    };

    function fetchMessages(room) {
        chatSocket.send(JSON.stringify({'command': 'fetch_messages',
            'room': room }));
    }

    function fetchRoom() {
        chatSocket.send(JSON.stringify({'command': 'fetch_room',
            'from': username }));
    }

    function createMessage(data) {
        var author = data['author'];
        var content = data['content'];
        var timestamp = new Date(data['timestamp'])
        var msgListTag = document.createElement('li');
        if (author === username) {
            $('#chat').append("<div class=\"outgoing_msg\"><div class='sent_msg' id=\"sent\">"+author+"<p>"+content+"</p></div></div>")
            $('#user_chat_msg').html('<p>'+content+'</p>')
            $('.footer').animate({
                scrollTop: $(this).height() // aqui introduz o numero de px que quer no scroll, neste caso é a altura da propria div, o que faz com que venha para o fim
            }, 100)
        } else {
            $('#user_chat_msg').html('<p>'+content+'</p>')
            $('#chat').append("<div class=\"incoming_msg\"><div class=\"received_msg\"><div class=\"received_withd_msg\">"+author+"<p>"+content+"</p></div></div></div><br>")

        }



    }
    function createRoom(data) {
        var room = data['room__room_name']
        console.log(data)
        $('#user_chat_name').append("<div class=\"chat_list active_chat\"><div class=\"chat_people\"><div class=\"chat_img\"> <img src=\"https://ptetutorials.com/images/user-profile.png\" alt=\"sunil\"> </div><div class=\"chat_ib\"><button  class='room_click btn' value='"+room+"'>"+room+"</button></div></div></div>").addClass('room_click')
    }




</script>